* {
  box-sizing: border-box;
}
body {
  padding: 30px;
}
.form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form label,
.form legend {
  display: block;
  margin-bottom: 10px;
}

.form input[type='number'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
}

.form fieldset {
  border: none;
  padding: 0;
  margin-bottom: 20px;
}

.form button[type='submit'] {
  padding: 10px 20px;
  background-color: #61319b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form button[type='submit']:hover {
  background-color: #7d53b1;
}
