/* General styles for the input and button */
* {
  box-sizing: border-box;
}
body {
  padding: 30px;
  margin: 0 auto;
}
#datetime-picker {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

button[data-start] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1bbc9b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[data-start]:hover {
  background-color: #96dcce;
}

#js-disabled {
  background-color: #96dcce;
}

/* Timer styles */
.timer {
  display: flex;
  /* justify-content: center; */
  gap: 20px;
  margin-top: 20px;
}

.field {
  text-align: center;
}

.value {
  display: block;
  font-size: 36px;
  font-weight: bold;
}

.label {
  display: block;
  font-size: 14px;
  color: #888;
}

/* Additional styles for better visual appeal */
.timer .field {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.timer .value {
  color: #333;
}

.timer .label {
  margin-top: 5px;
}
